name: Update to Notion
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
      - edited

jobs:
  update-on-notion:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Update Notion
        id: notion
        run: pnpm update:notion
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_DATA_SOURCE_ID: ${{ secrets.NOTION_DATA_SOURCE_ID }}
          NOTION_UNIQUE_ID_NAME: ${{ vars.NOTION_UNIQUE_ID_NAME }}
          NOTION_UNIQUE_ID_PREFIX: ${{ vars.NOTION_UNIQUE_ID_PREFIX }}
          NOTION_STATUS_PROPERTY_NAME: ${{ vars.NOTION_STATUS_PROPERTY_NAME }}
          NOTION_PR_PROPERTY_NAME: ${{ vars.NOTION_PR_PROPERTY_NAME }}

      - name: Find Comment
        if: always()
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: "<!-- notion-task-status -->"

      - name: Create or Update Comment
        if: always()
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- notion-task-status -->
            ${{ steps.notion.outputs.message }}
          edit-mode: replace
