name: Update to Notion
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
      - edited

jobs:
  update-on-notion:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Update Notion
        run: pnpm update:notion
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_DATA_SOURCE_ID: ${{ secrets.NOTION_DATA_SOURCE_ID }}
          NOTION_UNIQUE_ID_NAME: ${{ vars.NOTION_UNIQUE_ID_NAME }}
          NOTION_UNIQUE_ID_PREFIX: ${{ vars.NOTION_UNIQUE_ID_PREFIX }}
          NOTION_STATUS_PROPERTY_NAME: ${{ vars.NOTION_STATUS_PROPERTY_NAME }}
          NOTION_PR_PROPERTY_NAME: ${{ vars.NOTION_PR_PROPERTY_NAME }}
